<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    
     
     
    <% for (let i = 0; i < data.length; i++) { %>

      <p>First Name : <%= data[i].fName %></p>
      <p>Last Name : <%= data[i].lName %></p>
      <p>Email : <%= data[i].email %></p>
      <hr>
      
  <% } %>
    <a href="/logout">Logout</a>
  </body>
</html>
