<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Home</h1>
    <p></p>Welcome to SYNRGY.</p>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
  </body>
</html>
