<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>Register</h1>

    <form action="/register" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email" />
      </div>
      <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username" placeholder="username"/>
      </div>
      <div>
        <div>
          <label for="fullname">Fullname</label>
          <input type="text" id="fullname" name="fullname" placeholder="full name"/>
        </div>
        <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Create Password" />
      </div>
      <div>
        <label for="avatar">avatar</label>
        <input type="text" id="avatar" name="avatar" placeholder="avatar"/>
      </div>
      <button type="submit">Register</button>
    </form>
    <p>
      Have An Account?
      <a href="/login">Login</a>
    </p>
    <p>
      <a href="/">Home</a>
    </p>
  </body>
</html>
