<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>
    
    <% for (let i = 0; i < data.length; i++) { %>

        <p>First Name : <%= data[i].fName %></p>
        <p>Last Name : <%= data[i].lName %></p>
        <p>Email : <%= data[i].email %></p>
        <hr>
        
    <% } %>
</body>
</html>